.container{
    padding: 15px;
}

.recentlyAddedContainer{
    height: 200px;
    margin: 15px;
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-top-color: #333333;
    border-left-color: #333333;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}

.table{
    display: flex;
    flex-direction: column;
}

.categoriesContainer{
    
}