.QAContainer{
    height: 40%;
    margin: 5px;
    padding: 0px 5px 5px 5px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-top-color: #333333;
    border-left-color: #333333;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}

.table {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    height: 100%;
}

.headers {
    display: flex;
    height: 30px;
    margin: 0 -5px;
}

/* Header Styles */
.label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    color: black;
    height: 30px;
}

.label.left {
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    flex: 0 0 30%;
}

.label.middle {
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    flex: 0 0 30%;
}

.label.right {
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    flex: 0 0 40%;
}

/* Content Styles */
.content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    display: flex;
    padding-left: 2px;
    height: 20px;
    border-bottom: 1px solid #333333;
}

.cell {
    display: flex;
    padding-left: 2px;
    height: 20px;
    border-bottom: 1px solid #333333;
    overflow: hidden;
    white-space: nowrap;
}

.content .row:nth-child(even) {
    background-color: #f0f0f0;
}

.cell.left {
    flex: 0 0 30%;
}
.cell.middle {
    flex: 0 0 30%;
}
.cell.right {
    flex: 0 0 40%;
}
.cell.delete {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}

.categories{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;

    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.categoryElement{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 97px;
    height: 50px;

    border-style: solid;
    border-width: 2px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #333333;
    border-bottom-color: #333333;

    font-size: 16px;
    text-align: center;
    overflow: hidden;
    padding: 0 5px;
}